/* CSS Document */
body, td { font-family: Verdana; font-size: 10pt;}
#recipecard-header ul { margin: 0 auto; padding: 0; width: 635px; list-style: none; }#recipecard-header li { float: left; }#recipecard-header li.main-category-title-appetizer, #recipecard-header li.main-category-title-entree, #recipecard-header li.main-category-title-dessert {	margin: 12px 0 0 0;	padding: 0;
	width: 100%;
	font-size: 32px;
	font-weight:normal;
	line-height: 32px;
	text-align: center;
	background: none;
}
/*Individual Recipe Header*/
#recipecard-header { margin: 0; padding: 0 0 8px 0; width: 635px; height: 55px; border-bottom:thin dotted #CCCCCC; background-repeat:no-repeat; }
.appetizer {}
.entree {  }
.dessert {  }
#recipecard-header ul { margin: 0 auto; padding: 0; width: 635px; list-style: none; }
#recipecard-header li { float: left; }
#recipecard-header li.category-title {
	margin: 12px 0 0 0;
	padding: 0 0 0 12px;
	width: 150px;
	font-size: 27px;
	font-weight:normal;
	line-height: 27px;
	text-align:left;
	background: none;
}
#recipecard-header li.appetizer-title, #recipecard-header li.entree-title, #recipecard-header li.dessert-title {
	margin: 16px 0 0 0;
	padding:0;
	width: 470px;
	font-size: 24px;
	font-weight:700;
	line-height: 27px;
	text-align:center;
	background: none;
}
 .ingredients-text { margin: 0; padding: 0; width: 204px; float:left; border-right: thin dotted #CCCCCC;}

